<div class="d-block d-md-none d-flex align-items-center">
  <img
    src="/assets/img/bio-photo.jpg"
    alt="Bio Photo"
    class="img-fluid w-25 left rounded-circle me-3"
  />
  <div class="d-flex flex-column justify-content-center">
    <h2 class="mb-1 text-muted mt-0" style="font-weight: bolder">
      Sam Bond-Taylor
    </h2>
    <p class="mb-0 text-muted fst-italic" style="line-height: 1.5">
      Senior Researcher at
    </p>
    <p class="mb-0 text-muted fst-italic" style="line-height: 1.3">
      Microsoft Research Cambridge
    </p>
  </div>
</div>
