<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for project in site.data.open_source %}
  <article class="card-wrapper card">
    <div class="post-preview row g-0 flex-md-row-reverse">
      {% assign card_body_col = '12' %}
      {% if project.image %}
        {% assign alt = project.alt | xml_escape | default: project.name %}

        <div class="col-md-3">
          <!-- Desktop image -->
          <img
            src="{{ project.image }}"
            alt="{{ alt }}"
            class="img-fluid d-none d-md-block"
          />
          <!-- Mobile image -->
          {% if project.image_mobile %}
          <img
            src="{{ project.image_mobile }}"
            alt="{{ alt }}"
            class="img-fluid d-block d-md-none"
          />
          {% else %}
          <img
            src="{{ project.image }}"
            alt="{{ alt }}"
            class="img-fluid d-block d-md-none"
          />
          {% endif %}
        </div>

        {% assign card_body_col = '9' %}
      {% endif %}

      <div class="col-md-{{ card_body_col }}">
        <div class="card-body d-flex flex-column">
          <a class="card-project-title" href="{{ project.website_url | default: project.github_url }}">
            <h4 class="card-title my-2 mt-md-0">{{ project.name }}</h4>
          </a>

          <div class="card-text content mt-0 mb-3">
            {% if project.description %}
            <p>{{ project.description }}</p>
            {% endif %}
          </div>

          <div class="post-meta flex-grow-1 d-flex align-items-end">
            <div class="me-auto"></div>

            <!-- action buttons -->
            <div class="project-actions d-flex gap-2 ms-1">
              {% if project.website_url %}
              <a class="btn" href="{{ project.website_url }}" title="Website">
                <i class="fas fa-globe"></i>
              </a>
              {% endif %}
              {% if project.github_url %}
              <a class="btn" href="{{ project.github_url }}" title="GitHub">
                <i class="fab fa-github"></i>
              </a>
              {% endif %}
            </div>
          </div>
          <!-- .post-meta -->
        </div>
        <!-- .card-body -->
      </div>
    </div>
  </article>
  {% endfor %}
</div>
