<div id="post-list" class="flex-grow-1 px-xl-1">
  {% if include.selected_only %} {% assign selected_ids =
  site.data.selected_publications %} {% assign publications_to_show =
  site.data.publications | where_exp: "pub", "selected_ids contains pub.id" %}
  {% else %} {% assign publications_to_show = site.data.publications %} {% endif
  %} {% for pub in publications_to_show %}
  <article class="card-wrapper card">
    <div
      href="{{ pub.paper_url | default: pub.pdf }}"
      class="post-preview row g-0 flex-md-row-reverse"
    >
      {% assign card_body_col = '12' %} {% if pub.image %} {% assign alt =
      pub.alt | xml_escape | default: 'Publication Preview' %}

      <div class="col-md-3">
        <!-- Desktop image -->
        <img
          src="{{ pub.image }}"
          alt="{{ alt }}"
          class="img-fluid d-none d-md-block"
        />
        <!-- Mobile image -->
        {% if pub.image_mobile %}
        <img
          src="{{ pub.image_mobile }}"
          alt="{{ alt }}"
          class="img-fluid d-block d-md-none"
        />
        {% else %}
        <img
          src="{{ pub.image }}"
          alt="{{ alt }}"
          class="img-fluid d-block d-md-none"
        />
        {% endif %}
      </div>

      {% assign card_body_col = '9' %} {% endif %}

      <div class="col-md-{{ card_body_col }}">
        <div class="card-body d-flex flex-column">
          <a class="card-paper-title" href="{{ pub.paper_url }}"
            ><h4 class="card-title my-2 mt-md-0">{{ pub.title }}</h4></a
          >

          <div class="card-text content mt-0 mb-3">
            {% if pub.abstract %}
            <p>{{ pub.abstract | strip_html | truncatewords: 40 }}</p>
            {% endif %} {% if pub.authors %}
            <p class="text-muted">
              {% for author in pub.authors %} {{ author }}{% unless forloop.last
              %}, {% endunless %} {% endfor %}
            </p>
            {% endif %}
          </div>

          <div class="post-meta flex-grow-1 d-flex align-items-end">
            <div class="me-auto">
              <!-- venue -->
              {% if pub.venue %}
              <i class="far fa-bookmark fa-fw me-1"></i>
              <span class="venue"
                >{{ pub.venue }}{% if pub.year %} ({{ pub.year }}){% endif
                %}</span
              >
              {% endif %}
            </div>

            <!-- action buttons -->
            <div class="publication-actions d-flex gap-2 ms-1">
              {% if pub.paper_url %}
              <a class="btn" href="{{ pub.paper_url }}" title="Paper">
                <i class="fas fa-file-text"></i>
              </a>
              {% endif %} {% if pub.code_url %}
              <a class="btn" href="{{ pub.code_url }}" title="Code">
                <i class="fab fa-github"></i>
              </a>
              {% endif %} {% if pub.project_page %}
              <a class="btn" href="{{ pub.project_page }}" title="Project Page">
                <i class="fas fa-desktop"></i>
              </a>
              {% endif %} {% if pub.model %}
              <a class="btn" href="{{ pub.model }}" title="Model">
                <i class="fas fa-hexagon-nodes"></i>
              </a>
              {% endif %}
            </div>
          </div>
          <!-- .post-meta -->
        </div>
        <!-- .card-body -->
      </div>
    </div>
  </article>
  {% endfor %}
</div>
